@model ListCategoryModel
@{
    ViewData["Title"] = "Kategori Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
    </div>
</div>
<hr />
<div class="row mb-1 pull-right">
    <div class="col-md-12">
        <a href="/Category/Create" class="btn btn-primary btn-sm mr-2 float-right" title="Kategori Ekle"><i class="fa fa-plus mr-2">&nbsp;</i>Kategori Ekle</a>
    </div>
</div>
@if (@Model.Categories.Count == 0)
{
    <div class="alert alert-warning">
        Kategori kaydı bulunmamaktadır.
    </div>
}
else
{     
    <table class="table table-bordered table-hover table-striped text-center" id="tableCategories">
        <thead>
            <tr style="background:grey" class="text-white">
                <th style="width:50px">Id</th>
                <th>Name</th>
                <th>Kayıt Tarihi</th>
                <th>Kaydeden</th>
                <th>Güncelleme Tarihi</th>
                <th>Güncelleyen</th>
                <th style="width:200px">İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Categories)
            {
                <tr>
                    <td><strong>@item.Id</strong></td>
                    <td>@item.Name</td>
                    <td>@item.CreatedDate</td>
                    <td>@item.CreatedUsername</td>
                    <td>@item.ModifiedDate</td>
                    <td>@item.ModifiedUsername</td>
                    <td>
                        <a href="/Category/Edit/@item.Id" class="btn btn-warning btn-sm mr-2" title="Güncelle"><i class="fa fa-edit mr-2">&nbsp;</i></a>
                        <form action="/Category/Delete" method="post" style="display:inline">
                            <input type="text" name="Id" value="@item.Id" hidden />
                            <button type="submit" class="btn btn-danger btn-sm" title="Sil" onclick="return confirm('Kategori kaydını silmek istediğinize emin misiniz?')"><i class="fa fa-trash mr-2">&nbsp;</i></button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<br />
<br />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
        $(document).ready( function () {
        $('#tableCategories').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
            }
        });
    } );
</script>

